<span class="title">MONITORING</span>
<div class="ui-g">
  <div class="ui-g-12 ui-lg-4">
    <span class="ui-g-2 ui-lg-3 label">Editeur:</span>
    <p-dropdown class="ui-g-10 ui-lg-9" [options]="editors" [(ngModel)]="selectedEditor" optionLabel="name"
      placeholder="Select an editor" [showClear]="true">
    </p-dropdown>
  </div>
  <div class="ui-g-offset-6 ui-g-2">
    <a class="btn-reverse ui-button" type="button" target="_blank"
    href="http://analytics.sfeir.com/monitoring/index.html?mediaName=ALLERROR">All errors</a>
  </div>
</div>
<div *ngIf="selectedEditor" class="ui-g">
  <a *ngFor="let media of selectedEditor.medias" target="_blank" class="media ui-g-12 ui-lg-4" href="http://analytics.sfeir.com/monitoring/index.html?mediaName={{media.name}}">
    <p-card >
      <p-header>{{media.id}}</p-header>
      {{media.name}}
    </p-card>
  </a>
</div>
