<div class="ui-g ui-fluid links">
  <a class="ui-g-5" href="http://104.155.52.146/ojd/">Liste des fichiers transférés à l'OJD par sftp</a>
  <a class="ui-g-5" href="https://console.cloud.google.com/home/dashboard?project=certification-ojd">Console Google Cloud Project (certification-ojd)</a>
  <a class="ui-g-5" href="https://ssh.cloud.google.com/projects/certification-ojd/zones/europe-west1-b/instances/ojd-sftp?authuser=0&amp;hl=en_US&amp;projectNumber=758988767458">Connexion ssh à la VM</a>
  <a class="ui-g-5" href="">Changer le niveau des logs</a>
</div>
